@model RRS.Data.Reservation

@{
    ViewData["Title"] = "Edit Reservation";
    string reversedDatePart = Model.Sitting.Start.Date.ToString("yyyy-MM-dd");
    string startDateTime = Model.StartTime.ToString("yyyy-MM-ddThh-mm-ss");
}

<h2>Reservations - Edit</h2>

<p>
    <a asp-action="Index" asp-route-date="@Model.Sitting.Start.ToString("MM-dd-yyyy")">View Reservations</a>
</p>

<hr />

<div class="row d-flex justify-content-center ">
    <div id="resForm-col" class="col-md-12">
        <form id="resForm" asp-action="Edit" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <h4 class="mb-2">Customer: @Model.Customer.FirstName @Model.Customer.LastName</h4>
            <h4 class="mb-2">Phone: @Model.Customer.PhoneNumber</h4>

            <div class="form-group">
                <label class="control-label">Datez</label>
                <input disabled id="sittingDate" value="@reversedDatePart" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Sitting Type</label>
                <input disabled id="sittingType" value="@Model.Sitting.SittingType.Description" class="form-control" />
            </div>

            <label asp-for="StartTime" class="control-label"></label>
            <div class="form-group input-group">
                <select asp-for="StartTime" id="startTime" class="form-control form-select"></select>
                <input value="Change Sitting" class="btn btn-primary formBtn" />
            </div>

            <div class="form-group">
                <label asp-for="ReservationStatusId" class="control-label"></label>
                <select asp-for="ReservationStatusId" class="form-control form-select" asp-items="ViewBag.ReservationStatusId"></select>
                <span asp-validation-for="ReservationStatusId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="NoOfGuests" class="control-label"></label>
                <input asp-for="NoOfGuests" class="form-control" min="1"/>
                <span asp-validation-for="NoOfGuests" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerNotes" class="control-label"></label>
                <textarea asp-for="CustomerNotes" class="form-control"></textarea>
                <span asp-validation-for="CustomerNotes" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" form="resForm" value="Update" class="btn btn-success mt-2 w-25 formBtn" />
                <a asp-action="Index" asp-route-date="@Model.Sitting.Start.ToString("MM-dd-yyyy")" class="btn btn-danger mt-2 w-25">Cancel</a>
            </div>

            @*hide some data*@
            <input type="hidden" id="startDateTime" value="@Model.StartTime.ToString("yyyy-MM-ddThh:mm:ss")" />
            <input type="hidden" asp-for="CustomerId" class="form-control" />
            <input type="hidden" asp-for="Id" />          
            <input type="hidden" asp-for="SittingId" class="form-control" id="idInput"/>
            <input type="hidden" asp-for="ReservationOriginId" class="form-control"></input>
        </form>
    </div>

    <div id="table-view" class="col-md-12" hidden>
        <label class="fw-bold" for="dateControl">Sitting date:</label>
        <input type="date" id="dateControl" value=@reversedDatePart />

        <table id="sittingsT" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/admin.reservation.edit.css"/>
}

@section Scripts{
    <script src=~/js/admin.reservation.edit.js></script>
}
