@model IEnumerable<RRS.Data.Reservation>

@{
    ViewData["Title"] = "Index";

    string sittingDate;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<input asp-action="Index" asp-route-id={value} type="date" id="datePicker" />

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Customer
            </th>
            <th>
                Contact
            </th>
            <th>
                Guests
            </th>
            <th>
                Status
            </th>
            <th>
                Origin
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var res in Model) {
        <tr>
            <td>
                @res.Sitting.Start.ToString("dd/MM/yyyy")
            </td>
            <td>
                @res.Sitting.SittingType.Description
            </td>
            <td>
                @res.Customer.FirstName
                @res.Customer.LastName
            </td>
            <td>
                @res.Customer.PhoneNumber
            </td>
            <td>
                @res.NoOfGuests
            </td>
            <td>
                @res.ReservationStatus.Description
            </td>
            <td>
                @res.ReservationOrigin.Description
            </td>
            <td>
                @res.CustomerNotes
            </td>
            <td>
                <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@res.Id"> Edit </a>
                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@res.Id">Details</a>   
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(()=>{
            $("#datePicker").on("click", (e) =>{
                $(this.onchange(()=>
                ))
            })
        })
    </script>
}