@using RRS.Data
@model RRS.Areas.Member.Data.ProfileVM

@{
    ViewData["Title"] = "Profile";
    var upcomingReservations = Model.UpcomingReservations == null ? 
                                ViewData["upcoming"] as List<Reservation> : Model.UpcomingReservations;

    var pastReservations = Model.PastReservations == null ? 
                            ViewData["past"] as List<Reservation> : Model.PastReservations;
}

<div id="profile-row" class="row">
    <div id="profile-details-container" class="col-md-6 m-auto text-center mb-5">
        @*Icon carousel, user prefence not stored*@
        <div id="profile-icon-container" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <partial name="icons/_CoffeeBandana" />
                </div>
                <div class="carousel-item">
                    <partial name="icons/_Bear" />
                </div>
            </div>
            <button hidden class="carousel-control-prev" type="button" data-bs-target="#profile-icon-container" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button hidden class="carousel-control-next" type="button" data-bs-target="#profile-icon-container" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>           
        </div>
            <div class="my-custom-scrollbar">
                <partial name="_UpdateDetails" />
            </div>
        </div>

    <div id="profile-res-history-container" class="col-md-6 d-flex flex-column justify-content-between">
        <div id="profile-upcoming-res-col" class="col-md-12 d-flex justify-content-center">
            <div class="w-75 mt-2">         
                <h5>Upcoming Reservations</h5>
                @if(upcomingReservations.Count == 0)
                {
                    <div class="card" style="width: 18rem;">
                        <div class="list-group-item">
                            <span>No upcoming reservations.</span>
                        </div>                        
                    </div>
                }
                else
                {           
                    @foreach(var res in upcomingReservations)
                    {
                        <div id="upcoming-res-container" class="card">
                            <div class="card-body w-100">
                                <span>@res.Sitting.SittingType.Description<br/>
                                    @res.NoOfGuests 
                                    @(res.NoOfGuests == 1 ? "Person" : "People")<br/>
                                </span>
                                <span>Status: @res.ReservationStatus.Description</span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div id="profile-past-res-col" class="col-md-12 d-flex justify-content-center">
            <div class="w-75 mt-2">
                <h5>Past Reservations</h5>
                @if(pastReservations.Count == 0)
                {
                    <div class="card" style="width: 18rem;">
                        <div class="list-group-item">
                            <span>No past reservations.</span>
                        </div>                        
                    </div>
                }
                else
                {
                    <div id="past-res-container" class="card">
                        <ul class="list-group">
                            @for(int i = 0; i < pastReservations.Count; i++)
                            {
                                <li id="past-list-group-item-@i" class="past-list-group-item list-group-item">
                                    @pastReservations[i].StartTime
                                    <div hidden id="past-item-card-body-@i" class="past-item-card-body mt-1">
                                        <span>@pastReservations[i].Sitting.SittingType.Description<br/>
                                            @pastReservations[i].NoOfGuests 
                                            @(pastReservations[i].NoOfGuests == 1 ? "Person" : "People")<br/>
                                        </span>
                                        <span>Status: @pastReservations[i].ReservationStatus.Description</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/member.home.index.css" />
    <link rel="stylesheet" href="~/css/member.home.index.icons.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/member.home.js"></script>
}

