@using RRS.Data
@model RRS.Areas.Member.Data.ProfileVM

@{
    ViewData["Title"] = "Profile";
    var upcomingReservations = Model.UpcomingReservations == null ? 
                                ViewData["upcoming"] as List<ResVM> : Model.UpcomingReservations;

    var pastReservations = Model.PastReservations == null ? 
                            ViewData["past"] as List<ResVM> : Model.PastReservations;
}

<div id="profile-row" class="row">
    <div id="profile-details-container" class="col-md-6 m-auto text-center mb-5">
        @*Icon carousel, user prefence not stored*@
        <div id="profile-icon-container" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <partial name="icons/_CoffeeBandana" />
                </div>
                <div class="carousel-item">
                    <partial name="icons/_Bear" />
                </div>
            </div>
            <button hidden class="carousel-control-prev" type="button" data-bs-target="#profile-icon-container" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button hidden class="carousel-control-next" type="button" data-bs-target="#profile-icon-container" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>           
        </div>
            <div class="my-custom-scrollbar">
                <partial name="_UpdateDetails" />
            </div>
        </div>

    <div id="profile-res-history-container" class="col-md-6 d-flex flex-column justify-content-between">
        <div id="profile-upcoming-res-col" class="col-md-12 d-flex justify-content-center">
            <div class="w-75 mt-2">         
                <h4>Upcoming Reservations</h4>
                @if(upcomingReservations.Count == 0)
                {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>No upcoming reservations.</span>
                        </li>                        
                    </ul>
                }
                else
                {     
                    <div id="upcoming-res-container">
                        <ul class="list-group">
                            @for(int i = 0; i < upcomingReservations.Count; i++)
                            {
                                <li id="upcoming-list-group-item-@i" class="upcoming-list-group-item list-group-item" role="button">
                                    <b>@upcomingReservations[i].Date</b>
                                    <div @(i == 0 ? "" : "hidden") id="upcoming-item-body-@i" class="upcoming-item-body mt-1"
                                        data-upcoming-li-id="@i" data-type="upcoming">
                                        <span><b>Time&nbsp;</b>@upcomingReservations[i].Time<br/></span>
                                        <span><b>Type&nbsp;</b>@upcomingReservations[i].Type<br/></span>
                                        <span><b>Guests&nbsp;</b>@upcomingReservations[i].NoOfGuests<br/></span>
                                        <span><b>Status&nbsp;</b>@upcomingReservations[i].Status<br/></span>
                                        <span><b>Ref#&nbsp;</b>@upcomingReservations[i].ReferenceNo<br/></span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div id="profile-past-res-col" class="col-md-12 d-flex justify-content-center">
            <div class="w-75 mt-2">
                <h4>Past Reservations</h4>
                @if(pastReservations.Count == 0)
                {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>No past reservations.</span>
                        </li>                        
                    </ul>
                }
                else
                {
                    <div id="past-res-container">
                        <ul class="list-group">
                            @for(int i = 0; i < pastReservations.Count; i++)
                            {
                                <li id="past-list-group-item-@i" class="past-list-group-item list-group-item" role="button">
                                    <b>@pastReservations[i].Date</b>
                                    <div hidden id="past-item-body-@i" class="past-item-body mt-1" 
                                        data-past-li-id="@i" data-type="past">
                                        <span><b>Time&nbsp;</b>@pastReservations[i].Time<br/></span>
                                        <span><b>Type&nbsp;</b>@pastReservations[i].Type<br/></span>
                                        <span><b>Guests&nbsp;</b>@pastReservations[i].NoOfGuests<br/></span>
                                        <span><b>Status&nbsp;</b>@pastReservations[i].Status<br/></span>
                                        <span><b>Ref#&nbsp;</b>@pastReservations[i].ReferenceNo<br/></span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div>
            <a id="book-now-btn" class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Book Now</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/member.home.index.css" />
    <link rel="stylesheet" href="~/css/member.home.index.icons.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/member.home.js"></script>
}

