@model RRS.Models.SittingDto

@{
    ViewData["Title"] = "Index";
    //Uncomment currentDate in #dateControl to restrict management of sittings in the past. Note: this can be bypassed with direct typing.
    string currentDate = DateTime.Now.Date.ToString("yyyy-MM-dd"); 
    string currentDateTime = DateTime.Now.Date.ToString("yyyy-MM-ddT00:00");
    string reversedDatePart = ViewData["LastSelectedDate"] == null ? currentDate : ViewData["LastSelectedDate"] as string;
    var lastSelectedSitting = ViewData["LastSelectedSitting"] == null ? null : (SittingDto) ViewData["LastSelectedSitting"];
}

<h1>Index - Manage Sitting</h1>

<div class="row">

    <div class="col-md-12 m-2">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value="@reversedDatePart" @*min="@currentDate"*@>

        <div class="table-wrapper-scroll-y my-custom-scrollbar my-3 p-3">

            <table id="sittingsT" class="table table-hover">
                <thead class="bg-info">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Start</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Interval</th>
                        <th scope="col">Cutoff</th>
                        <th scope="col">Type</th>
                        <th scope="col">Sitting Availability</th>
                    </tr>
                </thead>
                <tbody id="sittingsTBody"></tbody>
            </table>

            <form hidden method="post" id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label for="idInput" class="form-label">Id: </label>
                    <input class="form-control" disabled id="idInput" value="" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="startInput" class="form-label">Start: </label>
                    <input asp-for="Start" class="form-control" id="startInput" value="" /> @*min="@currentDateTime" *@
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="durationInput" class="form-label">Duration: </label>
                    <input asp-for="Duration" class="form-control" id="durationInput" value="" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>

                <div class="form-group">              
                    <label for="capacityInput" class="form-label">Capacity: </label>
                    <input asp-for="Capacity" class="form-control" id="capacityInput" value="" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                <div class="form-group">              
                    <label for="intervalInput" class="form-label">Interval: </label>
                    <input asp-for="Interval" class="form-control" id="intervalInput" value="" />
                    <span asp-validation-for="Interval" class="text-danger"></span>
                </div>

                <div class="form-group">              
                    <label for="cutoffInput" class="form-label">Cutoff: </label>
                    <input asp-for="Cutoff" class="form-control" id="cutoffInput" value="" />
                    <span asp-validation-for="Cutoff" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SittingTypeId" class="control-label">Types: </label>
                    <select asp-for="SittingTypeId" id="typeSelectList" class ="form-control" asp-items="ViewBag.SittingTypeId"></select>
                </div>

                <button type="submit" value="Edit" class="formBtn btn btn-success my-3 px-3">Save</button>
                <input type="submit" value="Delete" class="formBtn btn btn-danger my-3 px-3" />
                <input value="Back" class="formBtn btn btn-info my-3 px-3" />

                <input asp-for="Id" type="hidden" id="hiddenIdInput"/>
                <input asp-for="SittingTypeId" type="hidden" id="hiddenTypeIdInput"/>
                <input asp-for="IsOpen" type="hidden" id="isOpenInput" value="" /> 
            </form>

            @if (lastSelectedSitting == null)
            {
                <input type="hidden" id="lastSelectedSitting" value="@lastSelectedSitting" /> 
            }
            else
            {
                <input type="hidden" id="lastSelectedSitting" value="@lastSelectedSitting"                     
                    data-sitting-id="@lastSelectedSitting.Id"
                    data-sitting-start="@lastSelectedSitting.Start"
                    data-sitting-duration="@lastSelectedSitting.Duration"
                    data-sitting-capacity="@lastSelectedSitting.Capacity"
                    data-sitting-interval="@lastSelectedSitting.Interval"
                    data-sitting-cutoff="@lastSelectedSitting.Cutoff"
                    data-sitting-is-open="@lastSelectedSitting.IsOpen"
                    data-sitting-type-id="@lastSelectedSitting.SittingTypeId"
                    data-sitting-type-description="@lastSelectedSitting.SittingTypeDescription" /> 
            }
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/admin.sitting.edit.css"/>
}

@section Scripts{
    <script src=~/js/admin.sitting.edit.js></script>
}
