@model RRS.Data.Employee;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<p>
@Model.FirstName
@Model.LastName
@Model.PhoneNumber
@Model.Address
@Model.TaxFileNumber
@Model.HireDate
</p>

