@model RRS.Data.Employee;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<p>
    <h1>Name: @Model.FirstName  @Model.LastName</h1>
    <h2>Phone Number:  @Model.PhoneNumber</h2>
    <h3>Address: @Model.Address</h3>
    <h3>Tax File Number: @Model.TaxFileNumber</h3>
    <h3> Hire Date: @Model.HireDate </h3> 
</p>

